<h2>Here is the detailed information about the celebrity:</h2>

{{#with celebrityDetail}}
    <h1>Name: {{name}}</h1>
    <h2>Occupation: {{occupation}}</h2>
    <p>Catch-phrase: {{catchPhrase}}</p>
{{/with}}

