<h2>Here are the detailed information about the celebrity:</h2>

{{#with celebrityDetail}}
    <h1>Name: {{name}}</h1>
    <h2>Occupation: {{occupation}}</h2>
    <p>Motto: {{catchPhrase}}</p>
{{/with}}

